<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Greeting exercise</title>

  <link rel="stylesheet" href="/css/greet.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <script src="//assets.adobedtm.com/86ab6e3cbae76c80bbd99ef3bc56b4b1f7e471b3/satelliteLib-d94a88e0230d9585f987230585896a1dd8752b86-staging.js"></script>

  {{!-- <link rel="stylesheet" href="/skeleton-fontawesome-buttons.css"> --}}
</head>

<body>
  <div class="container">
    {{{body}}}
  </div>
  <script type="text/javascript">_satellite.pageBottom();</script>

</body>
<!-- <script src="js/greet.js" charset="utf-8"></script>
<script src="greets-dom.js" charset="utf-8"></script> -->



</html>
